/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Comfortaa", sans-serif;
    --secondary-font: "Karla", "Helvetica Neue";
    --primary-color: #0E4424; /* Dark green */
    #D19C1D /* Yellow orche */
    #422E24 /* Rich brown */
    #FFFDEF /* Ivory */
    #231B12 /* Black */
    
}

body {
    background-color: #FFFDEF;
}


h1 {
    color: #0e4424;
}

#navbar {
    background-color: #0e4424;
}

#navbar .logo {
    max-height: 50px; 
    width: auto; 
}



/* footer */
#contact-us {
    background-color: var(--primary-color);
    color: #FFFDEF;
}