/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* CSS Variables */
html {
  font-size: 10px;
}

body {
  font: 1.6rem;
}

:root {
  --primary-font: "Bree Serif", serif;
  --secondary-font: "Lato", sans-serif;
  --green: #293b31; 
  --lighter-yellow: #d19c1d;
  --yellow: #956f15; 
  --pale-green: #bebe5e;
  --lavender: #d6c7e1; 
}

/* global styles */
.dark-background {
  color: var(--pale-green);
}

.secondary-font {
  font-family: var(--secondary-font);
}

.light-background {
  color: var(--green);
}

.page-button {
  color: var(--pale-green);
  background-color: var(--green);
  font-family: var(--secondary-font);
  border-color: var(--pale-green);
  display: block;
  margin: auto;
}

.page-button:hover {
  color: var(--lavender);
  background-color: #293b31;
  font-family: var(--secondary-font);
  border-color: var(--lavender);
}


h1,
h2 {
  color: var(--lighter-yellow);
  font-family: var(--primary-font);
}


h3 {
  color: var(--green);
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
  font-size: 1.5rem; 
  font-weight: 700;
}

h2 span {
  background-color: var(--green);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 3rem;
}

/* Head */
#navbar {
  background-color: var(--green);
}

.navbar-toggler {
  border-color: var(--green);
}

.navbar-nav .nav-link {
  color: var(--lighter-yellow) !important;
}

.navbar-toggler-icon {
  filter: invert(38%) sepia(92%) saturate(500%) hue-rotate(20deg);
}

/* logo */
#logo {
  max-width: 4.5rem;
  max-height: 4.5rem;
  color: var(--header-yellow);
}

.outline-btn {
  color: var(--pale-green);
  border-color: var(--pale-green);
}

.outline-btn:hover {
  color: var(--lavender);
  border-color: var(--lavender);
}

/* Header */
#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

#header img.hero-image { 
  position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: var(--lighter-yellow);
  font-family: var(--primary-font);
  text-align: center;
  z-index: 3;
  padding: 2rem;
  border-radius: 1rem;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#header h1,
#header p {
  position: relative;
    z-index: 3;
    color: #d19c1d;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-shadow: -2px -2px 11px rgba(0, 0, 0, 1);
}

#header h1 {
  font-size: 5rem;
  margin-top: 8rem;
}

#header p {
  font-size: 2rem;
}

/* About section */
.about-content {
  display: block;
  text-align: center;
}

.circle-about-image {
  flex-shrink: 0;
  background: url("../images/about-image.webp") no-repeat center / cover;
  width: 25rem;
  min-height: 25rem;
  border-radius: 50%;
  margin: 2rem auto;
}

/* hikes */
.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  max-height: 30rem;
  min-height: 30rem;
}


.card {
  border: none;
}

.card-footer {
  padding: 0rem 1rem !important;
}

.card-footer span p {
      margin-top: .25rem;
    margin-bottom: 1rem;
}

/* Gallery */
#gallery {
  margin: 3rem 0;
}

#gallery.container {
  max-width: ;
  margin: 2rem auto;
}

#gallery .image-container {
  columns: 25rem;
  gap: 1.5rem;
}

#gallery .image-container img {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  break-inside: avoid;
}

/* Booking form */
#booking-form {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem;
}

#booking-form form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Success page */
#success {
  padding-top: 10rem;
}

/* Contact section */
#contact-us {
  background-color: var(--green);
}

#contact-us .social-links i {
  color: var(--pale-green);
  font-size: 1.6rem;
  padding: 0 1rem;
}

#contact-us .social-links i:hover {
  color: #d6c7e1;
  font-size: 1.6rem;
  padding: 0 1rem;
}

/* footer */
#footer {
  font-family: var(--primary-font);
  background-color: var(--green);
  color: var(--lighter-yellow);
}

/* Media queries */
/* Medium devices and up */
@media screen and (min-width: 76.8rem) {
  .circle-about-image {
    width: 35rem;
    min-height: 35rem;
  }

  #booking-form {
    margin: 0 9rem;
  }

  .card-body {
    min-height: 32rem;
  }

  .card-text-mt {
    margin-top: 3.3rem;
  }

  .ddc-card-text {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 3rem;
  }
}

/* Large devices and up */
@media screen and (min-width: 99.2rem) {
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: left;
  }

  .card-body {
    min-height: 27rem;
  }

  .card-text-coastal {
    margin-top: 2.8rem;
  }
}

/* XL devices and up */
@media screen and (min-width: 120rem) {
  .card-body {
    min-height: 30rem;
  }

  #hero-image {
    background-position: ;
  }
}

@media screen and (min-width: 144rem) {
  .card-body {
    min-height: 31.8rem;
  }

  .card-text-coastal {
    margin-top: 2.3rem;
  }

  .card-text-tfl {
    margin-top: 3rem;
    padding-top: 1.5rem;
  }

  .ddc-card-text {
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    margin-top: 3rem;
  }

  .db-card-text {
    margin-top: 2.2rem;
  }
}

