@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-font: "Bree Serif", serif;
  --secondary-font: "Lato", sans-serif;
  --green: #293b31;
  --lighter-yellow: #d19c1d;
  --pale-green: #bebe5e;
  --lavender: #d6c7e1;

  --fs-reg: clamp(1.7rem, 1.1rem + 1.1vw, 3.5rem);
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.dark-background {
  color: var(--pale-green);
}

.light-background {
  color: var(--green);
}


/* TYPOGRAPHY & FONT UTILITIEST */
h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.secondary-font {
  font-family: var(--secondary-font);
} 

.title,
.section-heading {
  color: var(--lighter-yellow);
  font-family: var(--primary-font);
}

.section-heading{
  scroll-margin-top: 6.5rem;
}

.subheading {
  color: var(--green);
  font-family: var(--primary-font);
}

.content-text {
  font-family: var(--secondary-font);
  font-size: var(--fs-reg);
  font-weight: 700;
}

.section-heading .accent-span {
  background-color: var(--green);
  border-radius: 0.5rem;
  padding: 0.5rem 5rem;
}

/* BUTTONS */
.page-button {
  color: var(--pale-green);
  background-color: var(--green);
  font-family: var(--secondary-font);
  border-color: var(--pale-green);
  display: block;
  margin: auto;
  font-size: var(--fs-reg);
}

.page-button:hover {
  color: var(--lavender);
  background-color: var(--green);
  border-color: var(--lavender);
}

.outline-btn {
  color: var(--pale-green);
  border-color: var(--pale-green);
  font-size: 1.3rem;
}

.outline-btn:hover {
  color: var(--lavender);
  border-color: var(--lavender);
}

/*NAVBAR*/
#navbar {
  background-color: var(--green);
}

.navbar-toggler {
  border-color: var(--green);
}

.navbar-nav .nav-link {
  color: var(--lighter-yellow) !important;
  font-size: 1.85rem;
}

.navbar-toggler-icon {
  filter: invert(38%) sepia(92%) saturate(500%) hue-rotate(20deg);
}

#logo {
  max-width: 4.5rem;
  max-height: 4.5rem;
  color: var(--header-yellow);
  cursor: pointer;
}

.heading-link {
  text-decoration: none;
  color: inherit;
}

/*HEADER*/
#header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  padding: 2rem 1rem;
  color: var(--lighter-yellow);
}

.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.55); 
}

.hero-text {
  font-family: 'Bree Serif', serif;
  z-index: 1;
  padding: 1.5rem;
  color: var(--lighter-yellow);
  display: flex;
  flex-direction: column;
  height: 100vh;  
  justify-content: center;
  margin-top: 16rem;
}

.hero-text-title {
  font-size: clamp(4.5rem, 5vw + 2rem, 9rem);
}

.hero-text-tagline {
  font-size: clamp(2.5rem, 2vw + 1.2rem, 4rem);
  margin-top: 2.6rem;
}

.hero-icons {
  display: flex;
  gap: 1rem;
  z-index: 1;
  margin-bottom: 2rem;
}

/* HIKES */
#hikes{
  scroll-margin-top: 6.3rem
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  max-height: 30rem;
  min-height: 30rem;
}

.card {
  border: none;
}

.card-footer {
  padding: 0rem 1rem !important;
}

.card-fs {
  font-size: 1.75rem;
}

/* GALLERY */
#gallery{
  margin-bottom: 1rem;
}

#gallery{
  scroll-margin-top: 6.3rem;
}


/* FOOTER */
#footer .social-links  {
    color: var(--highlight-color);
    font-size: 1.6rem;
    padding: 0 1rem;
}

.fa-solid {
  font-size: clamp(2.5rem, 2vw, 4rem);
  color: var(--lighter-yellow);
}

#footer .social-links .footer-icons {
  color: var(--pale-green);
  font-size: 2rem;
  padding: 0 1rem;
}

#footer .social-links .footer-icons:hover {
  color: var(--lavender);
  font-size: 2rem;
  padding: 0 1rem;
}

#footer {
  font-family: var(--primary-font);
  background-color: var(--green);
  color: var(--lighter-yellow);
  font-size: 1.5rem;
}

/* ABOUT */
#about {
  margin-top: 8rem;
}

.about-content {
  display: block;
  text-align: center;
}

.circle-about-image {
  flex-shrink: 0;
  background: url("../images/about-image.webp") no-repeat center / cover;
  width: 25rem;
  min-height: 25rem;
  border-radius: 50%;
  margin: 2rem auto;
}

/* BOOKING FORM */
#booking-form {
  font-size: var(--fs-reg);
  font-weight: 700;
  margin: 1rem;
  margin-top: 8rem;
}

.form-select,
.form-control {
  font-size: var(--fs-reg);
}

#booking-form .signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#success {
  padding-top: 10rem;
}

/* BEGINNERS GUIDE */
#beginnersguide {
  margin-top: 8rem;
}

#beginnersguide .spacing {
  margin: 2rem 0rem;
}


/* MEDIA QUERIES */
@media screen and (max-width: 383px) {
  #beginnersguide .section-heading .accent-span {
    padding: 0.5rem 2rem;
  }
  
}
@media screen and (min-width: 375px) {
  .hero-text {
    padding: 0;
    margin-top: 12rem;
  }

  #footer p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .circle-about-image {
    min-width: 35rem;
    min-height: 35rem;
  }

  .hero-text {
    margin-top: 8rem;
  }

  .fa-solid {
    font-size: 2.5rem;
  }

  #booking-form {
    margin: 8rem 9rem;
  }

  .card {
    min-height: 62.5rem;
  }

  .card .page-button {
    font-size: 2.25rem;
  }

  .dbl {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .outline-btn {font-size: 2rem;}

  .hero-text {
    margin-top: 18rem;
  }

  .hero-image {
    margin-top: 6rem;
  }

  .card {
    min-height: 64rem;
  }

  #footer .social-links .footer-icons {
    font-size: 3rem;
  }

  #footer .social-links .footer-icons:hover {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    min-height: 66rem;
  }

  .laptop-card{
    padding-top: 3rem;
  }
}


@media screen and (min-width: 1440px) {
   .laptop-card{
    padding-top: 0rem;
  }

  .card {
    min-height: 68rem;
  }

  .card-text,
  .card-footer p {
    font-size: 2.19rem;
  }

  .fa-solid {
    font-weight: 900;
    font-size: 3rem;
  }
  #footer {
    margin-top: 0.75rem !important;
  }

  
}
